html, body {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        background: #fffbfb;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #FFFEFE;
        margin: 0 auto;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        height: 700px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }
      
      .bar {
        
      	display: flex;
        align-items: center;
      	justify-content: space-between;
      	background-color: #FFFCFC;
        width: 1320px;
        height: 160px;
        margin: 0 auto;
        padding-left: 160px;
      }
      
      .bar a {
        text-decoration: none;
        color: #65574E;
      }

      .bar a:hover {
        font-size: larger;

      }

      .logo {
      	display: flex;
      	margin-top: 76px;
      	margin-left: 34px;
      }
      
      .menu {
      	display: flex;
      	padding: 0px; 
        margin: 0 auto;
      }
      
      .menu li {
        list-style: none;
     	  font-size: 12pt;
      	font-family: Arial;
      	padding-top: 92px;
      	padding-bottom: 34px;
      	padding-left: 16px;
      	padding-right: 16px;
      	margin-right: 0 auto;
        width: 100%;
      }

      
      .home_text {
        text-align: center;
        margin-top: 14px;

      }

      .insta {
        width: 1236px;
        margin: 0 auto;
        padding-top: 86px;
        padding-bottom: 52px;
      }

      .insta_pic {
        /*margin-left: 736px;*/
        width: 500px;
        margin:0 auto;
        text-align: center;
        
      }
      .insta_pic1 {
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
      .insta_pic1 li {
        margin-right: 16px;
      }
      .insta_pic2 {
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
      .insta_pic2 li {
        margin-right: 16px;
      }
      .insta_pic3 {
        list-style: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
      .insta_pic3 li {
        margin-right: 16px;
      }

      .ytb {
        width: 1236px;
        margin: 0 auto;
        padding-top: 86px;
        padding-bottom: 52px;
      }

      .ytb2 {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 136px;
        background-size:contain;
      }

      .ytb2 img {
        width: 70%;
      }

      .foot {
        display: flex;
        width: 100%;
        height: 290px;
        background-color: #EEE2DB;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        z-index: 1;
        
      }

      .bLogo {
        width: 152px;
        height: 166px;
        padding-top: 66px;
      }

      .Ftitle {
        font-family: 'Cooper Std';
      }

      .Ftext {
        font-family: 'Noto Sans KR ';
      }

      .KBE {
        display: flex;
        list-style: none;
      }

      .KB {
        color: #65574E;
        opacity: 80%;
        font-size: 16pt;
        padding-left: 108px;
        padding-top: 66px;
      }

      .KB li {
        display: flex;
        list-style: none;
      }

      .E {
        color: #65574E;
        opacity: 80%;
        font-size: 16pt;
        padding-left: 108px;
        padding-top: 66px;
      }

      .E li {
        display: flex;
        list-style: none;
      }

      .kakao {
        color: #65574E;
        text-decoration: none;
      }

      .icon {
        padding-top: 24px;
        padding-left: 0px;
      }

      .icon i{
        font-size: 32px;
        margin-right: 16px;
      }

      .copyright {
        width: 600px;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        top: -24px;
        font-family: 'Noto sans KR';
      }